# Base de datos (SQL Server en Plesk)
DB_SERVER=tiusr24pl.cuc-carrera-ti.ac.cr
DB_DATABASE=tiusr24pl_SistemaMatriculaUniversitaria
DB_PORT=1433
DB_USER=Admin_SistemaMatricula
DB_PASSWORD=your_password_here
DB_ENCRYPT=yes
DB_TRUST_SERVER_CERT=yes

# Sesiones
SESSION_SECRET=cambia_esto_por_un_string_largo_y_aleatorio

# Entorno
NODE_ENV=development
